<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--
    <p th:text="|Name, ${name}|" />
    <p th:text="|hours, ${hours}|" />
    <p th:text="|KSS_Input, ${kssInputList}|" />
    <p th:text="|KSS_Output, ${kssOutputList}|" />
    <p th:text="|Work, ${amountOfWork}|" />
    <p th:text="|Control, ${control}|" />
    -->
    <p th:text="|Дисциплина, ${discipline}|" />
</body>
</html>
